{% extends 'users/page.html' %}
{% block user_details %}
  <div class="col-sm-6">
      <div>
            <h2>{{board.name}}</h2>
            <h4>{{board.description}}</h4>
            {% if g.user.id == user.id %}
                <form action="/users/{{user.id}}/delete_board/{{board.id}}" method="POST">
                    <button class="btn btn-sm btn-danger">
                        <i class="fa fa-trash"></i> Delete Board
                    </button>
                </form>
            {% endif %}
            {% if board in g.user.fav_boards %}
                <form action="/users/{{user.id}}/unfavorite/{{board.id}}" method="POST" class="fav-btn">
                    <button class="btn btn-sm btn-secondary my-2">
                        <i class="fa fa-star text-warning"></i>
                    </button>
                </form>
            {% else %}
            <form action="/users/{{user.id}}/favorite/{{board.id}}" method="POST" class="fav-btn">
                <button class="btn btn-sm btn-secondary my-2">
                    <i class="fa fa-star"></i>
                </button>
            </form>
            {% endif %}
      </div>
      
    <ul class="list-group" id="images">

      {% for image in images %}

        <li class="list-group-item bg-dark justify-content-center">
            <div class="card">
                <img src="{{image.url}}" class="card-img-top likes" alt="Free stock photo">
                <div class="card-body">
                <p class="card-text">This <a href="{{image.url}}">Photo</a> is courtesy of <a href="pexels.com">Pexels</a>.</p>
                {% if image.pexel_id in likes %}

                    <form method="POST" action="/users/unlike/{{image.pexel_id}}" id="form{{image.pexel_id}}" class="unlike-form">
                        <button class="btn btn-sm my-2 unlike-form-button">
                            <i class="fa fa-thumbs-up"></i> 
                        </button>
                    </form>

                {% else %}

                    <form action="/users/like/{{image.pexel_id}}" method="POST" id="form{{image.pexel_id}}" class="like-form">
                        <button class="btn btn-sm my-2 like-form-button">
                            <i class="fa fa-thumbs-up"></i> 
                        </button>
                    </form>

                {% endif %}
                {% if g.user.id == user.id %}
                    <form action="/users/{{user.id}}/boards/{{board.id}}/remove/{{image.pexel_id}}" method="POST" class="delete-btn">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                {% endif %}
                </div>
            </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}