{% extends 'base.html' %}
{% block title %}picl{% endblock %}
{% block content %}
    <div class="home-header container-fluid justify-content-center text-success">
        <h1>Welcome to picl</h1>
        <h3>Let's get picling</h3>
    </div>
    {% if images|length == 0 %}
        <h3>Sorry, no images found today.</h3>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <div class="row align-items-center my-1">
                    {% for image in images %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <img id="{{image['id']}}" src="{{image['src']['original']}}" class="card-img-top" alt="{{image['alt']}}">
                                <div class="card-body">
                                {% if image['id'] in likes %}

                                    <form method="POST" action="/users/unlike/{{image['id']}}" id="form{{image['id']}}" class="unlike-form">
                                        <button class="btn btn-sm mb-1 unlike-form-button">
                                            <i class="fa fa-thumbs-up"></i> 
                                        </button>
                                    </form>

                                {% else %}

                                    <form action="/users/like/{{image['id']}}" method="POST" id="form{{image['id']}}" class="like-form">
                                        <button class="btn btn-sm mb-1 like-form-button">
                                            <i class="fa fa-thumbs-up"></i> 
                                        </button>
                                    </form>

                                {% endif %}
                                
                                <form  action="/users/{{user.id}}/boards/add/{{image['id']}}" method="POST" id="board_form">
                                    {{ form.hidden_tag() }}
                            
                                    {% for field in form if field.widget.input_type != 'hidden' %}
                                      {% for error in field.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                      {% endfor %}
                                      {{ field(placeholder=field.label.text, class="form-control") }}
                                    {% endfor %}
                            
                                    <button class="btn btn-success btn-block btn-md mt-0">picl it</button>
                                  </form>
                                  <p class="card-text hide">This <a href="{{image['url']}}">Photo</a> was taken by <a href="{{image['photographer_url']}}">{{image['photographer']}}</a> on Pexels.</p>
                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}