{% extends 'base.html' %}
{% block content %}
<div class="container-fluid main">
  <ul class="list-group list-group-horizontal mb-2">
  <li class="list-group-item">
      <a href="/search?q={{search}}">
          <h5>Images</h5>
      </a>
  </li>
  <li class="list-group-item">
      <a href="/users?u={{search}}">
          <h5>People</h5>
      </a>
  </li>
  <li class="list-group-item">
      <a href="/boards?b={{search}}">
          <h5>Boards</h5>
      </a>
  </li>
</ul>
</div>
  {% if users|length == 0 %}
    <h3>Sorry, no users found</h3>
  {% else %}
    <div class="row justify-content-end">
      <div class="col-sm-9">
        <div class="row">

          {% for user in users %}

          <div class="col-lg-4 col-md-6 col-12">
            <div class="card user-card">
              <div class="card-inner">
                <div class="image-wrapper">
                  {% if user.banner_url %}
                  <img src="{{ user.banner_url }}" alt="Banner image for {{user.username}}" class="card-hero">
                  {% else %}
                  <img src="/static/images/default_banner.png" alt="Generic banner image" class="card-hero">
                  {% endif %}
                </div>
                <div class="card-contents">
                  <a href="/users/{{ user.id }}" class="card-link">
                    {% if user.image_url %}
                    <img src="{{ user.image_url }}" alt="Profile Image for {{ user.username }}" class="card-image">
                    {% else %}
                    <img src="/static/images/default-pic.png" alt="Profile Image for {{ user.username }}" class="card-image">
                    {% endif %}
                    <p>@{{ user.username }}</p>
                  </a>
                </div>
                {% if user.bio %}
                <p class="card-bio">{{user.bio}}</p>
                {% else %}
                <p class="card-bio">Just another picl for the jar</p>
                {% endif %}
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}